/**
MIAMIviz - Visualization for Mode of Action analysis
    Copyright (C) 2019 Christian-Alexander Dudek

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

body {
    overflow: hidden;
    font-family: sans-serif;
    font-size: 13px;
}
label {
    display: inline-block;
    width: 130px;
}

#miami {
    width: 100%;
    font-family: sans-serif;
    font-size: .8em;
    line-height: 1em;
}

main {
  padding: 10px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
}

.tooltip {
    padding: 2px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    background-color: #ffffffcc;
    border: 1px solid #cccccccc;
    position: absolute;
}

/* Menu */
#menu {
    position: absolute;
    top: 0px;
    left: 0;
    width:100%;
    padding-left: 1em;
    background-color: #333333;
    height: 21px;
    line-height: 21px;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    list-style: none !important;
    float: left;
    z-index: 2000;
}
#header {
    background-color: #ffffffcc;
    z-index: 10001;
}
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none !important;
    padding-left: 0;
    margin-left: 0;
}
#menu ul li {
    list-style: none !important;
    position: relative;
    float: left;
    vertical-align: top;
    padding-left: .5rem;
    padding-right: 1rem;
    color: #ffffff;
    margin-left: 0;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

#menu ul li ul li {
    list-style: none !important;
    min-width: 120px;
    color: #333333;
}

#menu ul li ul {
    min-width: 100px;
    display: none;
    position: absolute;
    left: 0;
    background-color: #cccccccc;
}


#menu > ul > li:not(:first-child):hover {
    cursor: pointer;
    background-color: #bcbcbccc;
}

#menu > ul > li li:hover {
    cursor: pointer;
    background-color: #bcbcbccc;
}

#menu ul li:hover > ul,
#menu ul li ul:hover {
    display: block;
}
.submenu {
    cursor: pointer;

}


/* Panels */
#panels {
    z-index: 1000;
    position: absolute;
}
.close {
    cursor: pointer;
    text-align: center;
    margin: 2px;
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    background-color: #ccc
}
.content {
    padding: 5px;
    min-width: 250px;
}
.panel {
    position: absolute;
    left: 10px;
    top: 31px;
    width: 400px;
    background-color: #ffffff;
    background-color: #ffffffcc;
    border: 1px solid #333;
    padding: 3px;
}

.right {
    float: right;
}

#visibleNodes, #invisibleNodes, #experiments {
    overflow: auto;
    border: 1px solid #eee;
    padding-left: 1.5em;
    list-style: none;
    /*padding-left: 1em;*/
}
#visibleNodes li, #experiments li {
    cursor: pointer;
}

#visibleNodes ul, #visibleNodes li {
    margin-left: 0;
    padding-left: 0;
}

#experiments, #invisibleNodes {
    max-height: 100px;
}

#visibleNodes {
    max-height: 200px;
}

.options {
    z-index: 100;
    position: absolute;
    top: 31px;
    background-color: #ffffffcc;
    border: 1px solid #333;
    padding: 3px;
}

.options select, .options ul {
    max-width: 200px;
}

.start {
    stroke-width: 4px;
    stroke: green;
}
.end {
    stroke-width: 4px;
    stroke: firebrick;
}
.path {
    stroke-width: 4px;
}

.plots {
    padding-top: 1em;
}
.tab {
    display: inline-flex;
    min-width: 80px;
    border: 1px solid #333333;
    padding: .25em;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.shown {
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    position: relative;
    top: 0px;
}
.tab:not(.shown) {
    background-color: #cccccc;
    background-color: #cccccccc;
}

.mid_tab, .quant_tab {
    border: 1px solid #333333;
    margin: 0;
    padding: 3px;
}

#about, #help {
    width: 500px;
    height: 400px;
    background-color: #ffffffcc;
    border: 1px solid #333333;
    padding: 3px;

    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    z-index: 10000;
}
#about div {
    padding: 3px;
}

.center {
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

.legend {
    background-color: #ffffff;
    border: 1px solid #333333;
    padding: 3px;
    margin: 2px;
}
.ref {
    border: 1px dashed #333333;
}

.u {
    color: #ffffff;
    background-color: #009900;
}
.d {
    color: #ffffff;
    background-color: #990000;
}
.e {
    color: #ffffff;
    background-color: #666666;
}
.n {
    background-color: #eeeeee;
}
.p {
    color: #ffffff;
    background-color: #ffaa00;
}
.small {
    font-size: .8em;
}
